#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.fixed {
    position: fixed;
    pointer-events: none;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.z-0 {
    z-index: -1;
    pointer-events: none;
}